.App {
  background : darkslategray;
  min-height: 340px;
  width: 400px;
  margin: 120px auto;
  border-radius: 20px;
}

body {
  /*background-image: linear-gradient(240deg,dodgerblue, lightskyblue);*/
  background: slategrey;
}


.title1 {
  color: wheat;
  margin-left: 50px;
  padding-top: 25px;
  position: relative;
  font-size: 22px;
}

.title2 {
  color: wheat;
  margin-left: 80px;
  padding-top: 10px;
  position: relative;
}

.title3 {
  color: wheat;
  margin-left: 80px;
  padding-top: 5px;
  position: relative;
}


